﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle Violeta Parra, Nº 9<br />
    50015 Zaragoza<br />
    <abbr title="Phone">P:</abbr>
    669824844
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">ahuertaaladren@hotmail.es</a><br />

</address>