﻿@using EShop.DTOs
@model  IEnumerable<CategoryDTO>

<div class="column" style="margin-top:10px">
    <ul class="list-group">
        @foreach(var category in Model)
        {
            <li class="list-group-item list-group-item-action">@category.Name</li>
        }
    </ul>
</div>
