﻿
@using EShop.DTOs

@model ProductDTO

<div class="thumbnail" style="width: 300px; margin-top: 20px; margin-right:20px">

    <img class="card-img-top Image_@Model.Id" style="max-height:250px; max-width:200px"src="@Model.Image" alt="Product Image" />
    <div class="card-body">
        <h5 class="card-title text-center"><b>@Model.Name</b></h5>
        <p class="card-text text-center alert alert-success">@String.Format("{0:C}", Model.Price)</p>
        <div class="text-center">
            <a href="#" data-id="@Model.Id" class="btn btn-info add-to-cart">Al carrito</a>
            <a href="@Url.Action("ProductDetail", "Product", new { id=Model.Id })" class="btn btn-default"> + Info</a>
   
        </div>
    </div>
</div>